.voice-button-container-inner {
    background-color: #cfcfcf60;
    padding: 1rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    animation-name: circular-movement-inner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.voice-button-container-mid {
    background-color: #e6e6e654;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    animation-name: circular-movement-mid;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.voice-button-container-outer {
    background-color: #e2e2e231;
    padding: 1rem;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
}

.active-bg{
    background-color: #fb5e6b10 !important;
}

@keyframes circular-movement-inner {
    0% {
        width: 8rem;
        height: 8rem;
    }
    50% {
        width: 9.2rem;
        height: 9.2rem;
    }
    100% {
        width: 8rem;
        height: 8rem;
    }
}

@keyframes circular-movement-mid {
    0% {
        width: 10rem;
        height: 10rem;
    }
    50% {
        width: 11.5rem;
        height: 11.5rem;
    }
    100% {
        width: 10rem;
        height: 10rem;
    }
}

.voice-button {
    background: linear-gradient(#FF986B, #FB5E6C) !important;
    border: #EF005A;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    box-shadow: 0 0 0 0rem #0000 !important;
}

.voice-button:hover {
    background: linear-gradient(15deg, #FF986B, #FB5E6C) !important;
    border: #EF005A;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
}

.voice-button:focus {
    box-shadow: 0 0 0 0rem #0000 !important;
}