html, body {
  font-family: "Open Sans", sans-serif;
  /* background-color: #fff; */
  margin: 0;
  padding: 0;
  height: 100%;
}

#root, #root>div {
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
